<div class="row map-message z-depth-2 mapping-widget" data-map-id="ci" data-map-type="bl:component-inherit">This component inherits default content from its source definition at:<br/>
	<tt>{{resourceType}}</tt>
	<input type="hidden" name="ci_type" value='bl:inherit-component'>
	<input type="hidden" name="ci_type_value" value='true'>
	<input type="hidden" name="ci_json5" value='{{json5}}'>
</div>