

<div class="col s12">
	<textarea class="json5" style="background-color:#eee;height: 10rem;" name="{{map_id}}_json5">{{{params_json5}}}</textarea>
</div>

{{!-- 

<div class="col s12">
	{{#each params.nodes}}
		{{source}} -> {{target}}<br>
	{{/each}}
</div>

 --}}
