
<div class="row" style="margin:1em;">
	{{#each info}}
		<div class="col s1">
			<b>{{title}}</b>
		</div>
		<div class="col s11">
			 {{{content}}}
		</div>
	{{/each}}

	<div class="col s12" style="margin-top:1em;">
		Here is where you put the scrollable raw view for this content piece
	</div>
</div>	