
<div class="row" style="margin:1em;">
	<div class="col s12">
		<div class="collection">
			{{#each menuItems}}
				<a href="javascript:;" class="collection-item upload-button" data-action="{{id}}">{{title}}</a>
			{{/each}}
		</div>
	</div>
</div>	