<html style="height:100%">
<head>
</head>

<body style="height:100%; background-color:#fff8f8">

	<div style="height:80px; position:relative; left:calc(50% - 80px); top:calc(50% - 180px)">
		<img src="{{publicMount}}blacklight/edit/images/blacklight-bulb-white.svg" style="height:180px; opacity:.3;">
	</div>

</body>
</html>